@import "./styles/sidebar-styles.scss";
@import "./styles/report-page-styles.scss";
@import "./styles/entry-styles.scss";
@import "./styles/user-page-styles.scss";
@import "./styles/drawer-styles.scss";
//fonts
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");

.app-bar {
  z-index: 100 !important;
  // position: relative !important;
  background-color: #16191f !important;
}
.flex {
  display: flex;
}
