.drawer-toggle-btn {
  position: fixed;
  z-index: 100;
  // transform: translateY(40vh);
  top: 15px;
  left: 5px;
  // left: -25px;
  // border: none;
  // width: 70px;
  // height: 70px;
  color: white;
  border-radius: 100px;
}

.MuiDrawer-paper {
  border-right: solid 2px rgb(218, 218, 218) !important;
}
