.entry-item {
  padding: 12px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.entry-item:hover {
  border: 2px solid rgb(165, 164, 164);
  cursor: pointer;
}
.entry-list {
  margin-top: 20px;
  max-width: 1000px;
}
