.sidebar {
  width: 240px;
  height: 100vh;
  margin-top: -65px;
  padding-top: 65px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 0;
}
.content-container {
  left: 240px;
  position: absolute;
  padding: 30px;
}
@media screen and (max-width: 400px) {
  .sidebar {
    display: none;
  }
  .content-container {
    left: 0px;
    position: absolute;
    padding: 30px;
  }
}
