.sidebar {
  width: 240px;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  //   display: inline-block;
  position: absolute;
}
.content-container {
  left: 240px;
  position: absolute;
  padding: 30px;
}
