.user-page-container {
  margin-top: 80px;
  display: flex;
}
.line-container {
  background-color: "white";
  border-radius: 2px;
}
.block-right {
  // border: 1px solid;
  // height: 100%;
  // position: relative;
}
