.user-page-container {
  margin-top: 80px;
  display: flex;
}
.line-container {
  background-color: "white";
  border-radius: 2px;
}
.block-right {
  // border: 1px solid;
  // height: 100%;
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // text-align: center;
  // margin-right: 50%;
}

.block-right img {
  max-width: 200px;
}

.block-right img.report-graphic {
  max-width: 250px;
}
