.body-text {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
.line-container .body-text {
  padding: 10px;
}

.edit-line-container .body-text {
  position: relative;
  top: 10px;
  padding: 10px;
}

.edit-line-container {
  margin-top: 15px;
}
